<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <title>登入成功</title>
    <style>
      body {
        background-color: #f5f5f5;
      }
    </style>
  </head>
  <body>
    <h1>login success!!</h1>
    <script>
      setTimeout(_ => {
        liff.closeWindow();
      }, 1000);
    </script>
  </body>
</html>
